<div class="quote-body">
  <h1>QuoteIt- Let us play around with quotes</h1>
  <div class="quotes" *ngFor='let quote of quotes;let i = index'>
    <p>{{quote.statement}}</p>
    <button (click)='toggleDetails(i)' class="btn btn-warning">See More <i class="fas fa-arrow-down"></i></button>
    <app-quote-details *ngIf="quote.showVotes" [quote]="quote" (deleteQuoteEvent)="deleteQuote($event,i)"
      (upVoteQuoteEvent)="upVoteQuote($event,i)" (downVoteQuote)="downVoteQuote($event,i)"></app-quote-details>
  </div>


  <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>

</div>
